################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Junevy.Communication.Modbus/obj/Debug
/Junevy.Communication.Modbus/obj
/Junevy.Communication.Modbus.Tests/bin/Debug/net6.0
/Junevy.Communication.Modbus.Tests/obj/Debug/net6.0
/Junevy.Communication.Modbus.Tests/obj/Release/net6.0
/Junevy.Communication.Modbus.Tests/obj
/Junevy.Communication.Test/obj
